*__pycache__*
*.log
docs/build
*.DS_Store
htmlcov
.coverage
venv
.ipynb_checkpoints
*.pt
*.onnx
*.csv
mlruns
.profile
.env
*.html
_extract
*.gzip
*checkpoint*
*.parquet
*.npy
*.pkl
*.npz
*.csv
*.pickle
dist/
outputs/
multirun/
_autosummary
*cyclops_report*
*dummy_reports*
.mypy_cache
*code-workspace*
