repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0  # Use the ref you want to point at
    hooks:
    - id: trailing-whitespace
    - id: check-ast
    - id: check-builtin-literals
    - id: check-docstring-first
    - id: check-executables-have-shebangs
    - id: debug-statements
    - id: end-of-file-fixer
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: requirements-txt-fixer
    - id: check-yaml
    - id: check-toml

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
    - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.1.5'
    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
      types_or: [python, jupyter]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.6.1
    hooks:
    - id: mypy
      entry: python3 -m mypy --config-file pyproject.toml
      language: system
      types: [python]
      exclude: "use_cases|tests|cyclops/(models|monitor|report/plot)"

  - repo: local
    hooks:
    - id: nbstripout
      name: nbstripout
      language: system
      entry: python3 -m nbstripout
      exclude: ^docs/source/tutorials/gemini/.*\.ipynb$

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.0
    hooks:
    - id: nbqa-black
    - id: nbqa-ruff
      args: [--fix, --exit-non-zero-on-fix]

  - repo: local
    hooks:
    - id: doctest
      name: doctest
      entry: python3 -m doctest -o NORMALIZE_WHITESPACE
      files: "^cyclops/"
      language: system

  - repo: local
    hooks:
    - id: pytest
      name: pytest
      entry: python3 -m pytest -m "not integration_test"
      language: system
      pass_filenames: false
      always_run: true
