exclude: |
    (?x)(
        ^drift_detection/|
        ^notebooks/misc/batching_explore.ipynb
    )
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0  # Use the ref you want to point at
    hooks:
    - id: trailing-whitespace
    - id: check-ast
    - id: check-builtin-literals
    - id: check-docstring-first
    - id: check-executables-have-shebangs
    - id: debug-statements
    - id: end-of-file-fixer
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: requirements-txt-fixer
    - id: trailing-whitespace
    - id: check-yaml

  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
    - id: black

  - repo: https://github.com/PyCQA/isort
    rev: 5.5.2
    hooks:
    - id: isort

  - repo: https://github.com/myint/docformatter
    rev: v1.3.1
    hooks:
    - id: docformatter
      args: [--in-place, --wrap-summaries=88, --wrap-descriptions=88, --blank]
      files: ".*.py$"

  - repo: local
    hooks:
    - id: flake8
      name: flake8
      language: python
      entry: pflake8
      files: ".*.py$"

  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      additional_dependencies: [toml]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.942
    hooks:
    - id: mypy
      additional_dependencies: [types-python-dateutil==2.8.8, types-PyYAML==6.0.5]

  - repo: local
    hooks:
    - id: pylint
      name: pylint
      language: python
      entry: pylint
      files: ".*.py$"

  - repo: local
    hooks:
    - id: pytest
      name: pytest
      entry: pytest
      language: system
      pass_filenames: false
      always_run: true

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.3.1
    hooks:
    - id: nbqa-black
    - id: nbqa-isort
    - id: nbqa-check-ast
      # - id: nbqa-flake8
      # - id: nbqa-mypy
