absl-py==1.2.0
aiofiles==22.1.0
aiohttp==3.8.1
aiohttp-cors==0.7.0
aioredis==1.3.1
aiosignal==1.2.0
aiosqlite==0.17.0
alabaster==0.7.12
alembic==1.8.1
alibi==0.6.5
alibi-detect==0.9.1
antlr4-python3-runtime==4.9.3
anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgi-lifespan==1.0.1
astroid==2.12.7
asttokens==2.0.8
astunparse==1.6.3
async-timeout==4.0.2
asyncpg==0.26.0
attrs==21.4.0
azure-core==1.25.1
azure-storage-blob==12.13.1
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.1
black==22.8.0
bleach==5.0.1
blessed==1.19.1
blis==0.7.8
boto3==1.24.66
botocore==1.27.66
Brotli==1.0.9
cachelib==0.9.0
cachetools==5.2.0
catalogue==2.0.8
certifi==2022.6.15
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.1.0
colorama==0.4.5
colorful==0.5.4
commonmark==0.9.1
ConfigArgParse==1.5.3
coolname==1.1.0
coverage==6.4.4
croniter==1.3.5
cryptography==37.0.4
cycler==0.11.0
cyclops==0.1.0
cymem==2.0.6
dash==2.6.1
dash-bootstrap-components==1.2.1
dash-cool-components==0.1.8
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.10.2
dash-table==5.0.0
dask==2022.9.0
databricks-cli==0.17.3
dataclasses==0.6
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
diagrams==0.21.1
dill==0.3.5.1
distlib==0.3.6
distributed==2022.9.0
dm-tree==0.1.7
docker==5.0.3
docutils==0.17.1
entrypoints==0.4
evidently==0.1.45.dev0
executing==1.0.0
fastapi==0.82.0
fastjsonschema==2.16.1
filelock==3.8.0
flake8==4.0.1
Flask==2.2.2
Flask-Caching==1.11.1
Flask-Compress==1.12
flatbuffers==2.0.7
fonttools==4.37.1
frozenlist==1.3.1
fsspec==2022.8.2
gast==0.5.3
gitdb==4.0.9
GitPython==3.1.27
google-api-core==2.8.2
google-auth==2.11.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.3.2
google-cloud-storage==2.5.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.4
gpustat==1.0.0
graphviz==0.19.2
greenlet==1.1.3
grpcio==1.48.1
gunicorn==20.1.0
h11==0.12.0
h5py==3.7.0
HeapDict==1.0.1
hiredis==2.0.0
httpcore==0.15.0
httpx==0.23.0
huggingface-hub==0.9.1
hydra-core==1.2.0
identify==2.5.5
idna==3.3
imageio==2.21.2
imagesize==1.4.1
importlib-metadata==4.12.0
iniconfig==1.1.1
ipykernel==6.15.2
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
isodate==0.6.1
isort==5.10.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.1.0
json5==0.9.10
jsonschema==4.15.0
jupyter==1.0.0
jupyter-client==7.3.4
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter-server==1.18.1
jupyterlab==3.4.6
jupyterlab-pygments==0.2.2
jupyterlab_server==2.15.1
jupyterlab-widgets==3.0.3
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
kubernetes==24.2.0
langcodes==3.3.0
lazy-object-proxy==1.7.1
libclang==14.0.6
llvmlite==0.38.0
locket==1.0.0
lxml==4.9.1
Mako==1.2.2
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
mccabe==0.6.1
mdit-py-plugins==0.3.0
mdurl==0.1.2
mistune==2.0.4
mlflow==1.28.0
msgpack==1.0.4
msrest==0.7.1
multidict==6.0.2
murmurhash==1.0.8
mypy-extensions==0.4.3
myst-parser==0.18.0
nb-black==1.0.7
nbclassic==0.4.3
nbclient==0.6.7
nbconvert==7.0.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8.6
nodeenv==1.7.0
notebook==6.4.12
notebook-shim==0.1.0
numba==0.55.2
numexpr==2.8.3
numpy==1.22.4
numpydoc==1.4.0
nvidia-ml-py==11.495.46
oauthlib==3.2.0
omegaconf==2.2.3
opencensus==0.11.0
opencensus-context==0.1.3
opencv-python==4.6.0.66
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.4
pandocfilters==1.5.0
parso==0.8.3
partd==1.3.0
pathspec==0.10.1
pathy==0.6.2
patsy==0.5.2
pbr==5.10.0
pendulum==2.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pip==22.2.1
platformdirs==2.5.2
plotly==5.7.0
pluggy==1.0.0
pre-commit==2.20.0
prefect==2.0b6
preshed==3.0.7
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.3
prompt-toolkit==3.0.31
protobuf==3.19.4
psutil==5.9.2
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py-spy==0.3.13
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.2
pyflakes==2.4.0
Pygments==2.13.0
PyJWT==2.4.0
pylint==2.15.0
pyparsing==3.0.8
pyproject-flake8==0.0.1a5
pyrsistent==0.18.1
pytest==7.1.3
pytest-cov==3.0.0
python-dateutil==2.8.2
python-dotenv==0.19.2
python-slugify==6.1.2
pytz==2022.2.1
pytzdata==2020.1
PyWavelets==1.3.0
PyYAML==5.4.1
pyzmq==23.2.1
qtconsole==5.3.2
QtPy==2.2.0
querystring-parser==1.2.4
ray==1.10.0
readchar==4.0.2
redis==4.3.4
regex==2022.8.17
requests==2.28.1
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==12.5.1
rsa==4.9
s3transfer==0.6.0
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.9.1
seaborn==0.11.2
Send2Trash==1.8.0
setuptools==63.4.0
setuptools-scm==6.4.2
shap==0.40.0
six==1.16.0
slicer==0.0.7
smart-open==5.2.1
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spacy==3.4.1
spacy-legacy==3.0.10
spacy-loggers==1.0.3
spacy-lookups-data==1.0.3
Sphinx==4.5.0
sphinx-autodoc-typehints==1.19.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-apidoc==0.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.40
sqlparse==0.4.2
srsly==2.4.4
stack-data==0.5.0
starlette==0.19.1
statsmodels==0.13.2
tables==3.7.0
tabulate==0.8.10
tblib==1.7.0
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.3
tensorflow-estimator==2.8.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-probability==0.12.2
termcolor==1.1.0
terminado==0.15.0
text-unidecode==1.3
thinc==8.1.0
threadpoolctl==3.1.0
tifffile==2022.8.12
tinycss2==1.1.1
tokenizers==0.12.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.4
toolz==0.12.0
torch==1.12.1
torchvision==0.13.1
torchxrayvision==0.0.37
tornado==6.1
tqdm==4.64.1
traitlets==5.3.0
transformers==4.21.3
typer==0.4.2
typing_extensions==4.3.0
urllib3==1.26.12
uvicorn==0.18.3
virtualenv==20.16.4
wasabi==0.10.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.1
Werkzeug==2.2.2
wheel==0.37.1
widgetsnbextension==4.0.3
wrapt==1.14.1
xgboost==1.6.2
yarl==1.8.1
zict==2.2.0
zipp==3.8.1
