alembic==1.4.1
appnope==0.1.2
backcall==0.2.0
black==21.12b0
certifi==2021.10.8
cfgv==3.3.1
charset-normalizer==2.0.10
click==8.0.3
cloudpickle==2.0.0
ConfigArgParse==1.5.3
configparser==5.2.0
databricks-cli==0.16.2
dataclasses==0.6
debugpy==1.5.1
decorator==5.1.1
distlib==0.3.4
docker==5.0.3
docutils==0.18.1
entrypoints==0.3
evidently==0.1.40.dev0
filelock==3.4.2
flake8==4.0.1
Flask==2.0.2
gitdb==4.0.9
GitPython==3.1.25
greenlet==1.1.2
gunicorn==20.1.0
identify==2.4.4
idna==3.3
importlib-metadata==4.10.0
ipykernel==6.6.1
ipython==7.31.0
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jupyter-client==7.1.0
jupyter-core==4.9.1
lockfile==0.12.2
luigi==3.0.3
Mako==1.1.6
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mlflow==1.22.0
mypy-extensions==0.4.3
nest-asyncio==1.5.4
nodeenv==1.6.0
numpy==1.22.0
packaging==21.3
pandas==1.3.5
parso==0.8.3
pathspec==0.9.0
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.4.1
plotly==5.5.0
pre-commit==2.16.0
prometheus-client==0.12.0
prometheus-flask-exporter==0.18.7
prompt-toolkit==3.0.24
protobuf==3.19.1
psycopg2==2.9.3
ptyprocess==0.7.0
pycodestyle==2.8.0
pydocstyle==6.1.1
pyflakes==2.4.0
Pygments==2.11.2
pyparsing==3.0.6
python-daemon==2.3.0
python-dateutil==2.8.2
python-dotenv==0.19.2
python-editor==1.0.4
pytz==2021.3
PyYAML==5.4.1
pyzmq==22.3.0
querystring-parser==1.2.4
requests==2.27.1
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
SQLAlchemy==1.4.29
sqlparse==0.4.2
statsmodels==0.13.1
tabulate==0.8.9
tenacity==6.3.1
threadpoolctl==3.0.0
toml==0.10.2
tomli==1.2.3
torch==1.10.1
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typing_extensions==4.0.1
urllib3==1.26.8
virtualenv==20.13.0
wcwidth==0.2.5
websocket-client==1.2.3
Werkzeug==2.0.2
zipp==3.7.0
