name: Code checks

on:
  push:
    branches:
      - main
    paths:
      - .pre-commit-config.yaml
      - .github/workflows/code_checks.yml
      - '**.py'
      - poetry.lock
      - pyproject.toml
      - requirements.txt
      - '**.ipynb'
  pull_request:
    branches:
      - main
    paths:
      - .pre-commit-config.yaml
      - .github/workflows/code_checks.yml
      - '**.py'
      - poetry.lock
      - pyproject.toml
      - requirements.txt
      - '**.ipynb'

jobs:
  run-code-check:
    runs-on: ubuntu-latest
    steps:
      - name: Install apt dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libcurl4-openssl-dev libssl-dev
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v4.3.0
        with:
          python-version: 3.9.7
          cache: 'poetry'
      - name: Install dependencies and check code
        run: |
          poetry env use 3.9.7
          source $(poetry env info --path)/bin/activate
          poetry install --without dev,docs,interface
          pre-commit run --all-files
  integration-tests:
    runs-on: self-hosted
    steps:
      - name: Install apt dependencies
        run: |
          pwd
          ls
          apt-get update
          apt-get install libcurl4-openssl-dev libssl-dev
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v4.3.0
        with:
          python-version: 3.9.7
          cache: 'poetry'
      - name: Install dependencies and check code
        run: |
          poetry env use 3.9.7
          source $(poetry env info --path)/bin/activate
          poetry install --without dev,docs,interface
          pytest -m integration_test
