name: docs (build)

on:
  pull_request:
    branches:
      - main
    paths:
      - .pre-commit-config.yaml
      - .github/workflows/docs_build.yml
      - '**.py'
      - '**.ipynb'
      - poetry.lock
      - pyproject.toml
      - requirements.txt
      - '**.rst'
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install apt dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libcurl4-openssl-dev libssl-dev pandoc
      - uses: actions/checkout@v3
      - name: Install dependencies, build docs and coverage report
        run: python3 -m pip install --upgrade pip && python3 -m pip install poetry
      - uses: actions/setup-python@v4.3.0
        with:
          python-version: 3.9
          cache: 'poetry'
      - run: |
          poetry env use 3.9
          source $(poetry env info --path)/bin/activate
          poetry install --without dev,interface
          # pandoc README.md -f markdown -t rst -s -o docs/source/intro.rst
          cd docs && rm -rf source/reference/api/_autosummary && make html
          cd .. && coverage run -m pytest -m "not integration_test" && coverage xml && coverage report -m
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
      - name: Build webpage
        run: |
          cd docs/cyclops-webpage
          yarn install --frozen-lockfile
          yarn build
          cp -r ../build/html build/api
 
