name: docs (build)

on:
  pull_request:
    branches:
      - main
    paths:
      - .pre-commit-config.yaml
      - .github/workflows/docs_build.yml
      - '**.py'
      - '**.ipynb'
      - poetry.lock
      - pyproject.toml
      - '**.rst'
      - '**.md'
      - docs/cyclops-webpage

jobs:
  build:
    runs-on: [self-hosted, gpu]
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'
      - name: Install dependencies, build docs and coverage report
        run: python3 -m pip install --upgrade pip && python3 -m pip install poetry
      - uses: actions/setup-python@v4.3.0
        with:
          python-version: 3.9
          cache: 'poetry'
      - run: |
          python3 -m poetry env use 3.9
          source $(python3 -m poetry env info --path)/bin/activate
          python3 -m poetry install --without dev,interface
          python3 -m ipykernel install --user --name cyclops
          # pandoc README.md -f markdown -t rst -s -o docs/source/intro.rst
          cd docs && rm -rf source/reference/api/_autosummary && make html
          cd .. && coverage run -m pytest -m "not integration_test" && coverage xml && coverage report -m
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
          cache-dependency-path: '**/yarn.lock'
      - name: Build webpage
        run: |
          cd docs/cyclops-webpage
          yarn install --frozen-lockfile
          yarn build
          cp -r ../build/html build/api
