name: docs (build)

on:
  pull_request:
    branches:
      - main
    paths:
      - .pre-commit-config.yaml
      - .github/workflows/docs_build.yml
      - '**.py'
      - '**.ipynb'
      - '**.jinja'
      - poetry.lock
      - pyproject.toml
      - '**.rst'
      - '**.md'
      - docs/cyclops-webpage

jobs:
  build:
    runs-on: [self-hosted, db, gpu]
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'
      - name: Install dependencies, build docs and coverage report
        run: python3 -m pip install --upgrade pip && python3 -m pip install poetry
      - uses: actions/setup-python@v4.7.1
        with:
          python-version: '3.10'
          cache: 'poetry'
      - run: |
          python3 -m pip install --upgrade pip && python3 -m pip install poetry
          poetry env use '3.10'
          source $(poetry env info --path)/bin/activate
          poetry install --without dev
          python3 -m ipykernel install --user --name cyclops
          # pandoc README.md -f markdown -t rst -s -o docs/source/intro.rst
          cd docs && rm -rf source/reference/api/_autosummary && make html
          cd .. && coverage run -m pytest -m "not integration_test" && coverage xml && coverage report -m
      - name: Upload coverage to Codecov
        uses: Wandalen/wretry.action@v1.0.36
        with:
          action: codecov/codecov-action@v3.1.3
          with: |
            token: ${{ secrets.CODECOV_TOKEN }}
            file: ./coverage.xml
            name: codecov-umbrella
            fail_ci_if_error: true
          attempt_limit: 5
          attempt_delay: 30000
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
          cache-dependency-path: '**/yarn.lock'
      - name: Build webpage
        run: |
          cd docs/cyclops-webpage
          yarn install --frozen-lockfile
          yarn build
          cp -r ../build/html build/api
