name: integration tests

on:
  push:
    branches:
      - main
    paths:
      - .pre-commit-config.yaml
      - .github/workflows/integration_tests.yml
      - '**.py'
      - poetry.lock
      - pyproject.toml
      - requirements.txt
      - '**.ipynb'
  pull_request:
    branches:
      - main
    paths:
      - .pre-commit-config.yaml
      - .github/workflows/integration_tests.yml
      - '**.py'
      - poetry.lock
      - pyproject.toml
      - requirements.txt
      - '**.ipynb'

jobs:
  integration-tests:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pip install poetry
      - uses: actions/setup-python@v4.3.0
        with:
          python-version: 3.9
      - name: Install dependencies and check code
        run: |
          poetry env use 3.9
          source $(poetry env info --path)/bin/activate
          poetry install --without dev,docs,interface
          pytest -m integration_test
          coverage run -m pytest -m integration_test && coverage xml && coverage report -m
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3.1.1
        with:
          file: ./coverage.xml
          name: codecov-umbrella
          fail_ci_if_error: true
